# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xcsettings
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# Logs
*.log

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# App artifacts
*.ipa
*.dSYM

# macOS Finder
.DS_Store
